.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Remove default focus outline on clickable map areas/countries */
path.leaflet-interactive:focus {
  outline: none !important;
}
.leaflet-container path {
  outline: none !important;
}
